# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build directories
/bin/
/build/
/dist/

# Dependency
/vendor/

# Env files
.env
.env.*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE/editor
.vscode/
.idea/
*.swp
